@import "tailwindcss";
/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&family=Fira+Code:wght@400;500&display=swap');

body {
    /* font-family: "JetBrains Mono", monospace; */
    /* font-family: "Inter", sans-serif; */
    font-family: "Special Elite", system-ui;
    font-weight: 400;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}